body {
    background-color: rgb(0 153 194 / 42%);
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
}  


section {
    margin-top: 240px;
    padding: 0 160px;
}


h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

.link-src {
    text-decoration: none;
    color: #d1292e;
}

.link-src:hover {
    filter: drop-shadow(6px 2px 2px rgba(255, 0, 0, 0.342));
}


.contact {
    color: #d1292e;
    font-weight: 700;
}

.contact:hover {
    filter: drop-shadow(6px 2px 2px rgba(255, 0, 0, 0.342));
}


hr {
    border: 1px solid #d1292e75;
}


.pokestop {
    position: absolute;
    top: 260px;
    right: 30px;
    height: 40px;
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    rotate: -90deg;
}


.pokestop:hover {
    background-color: #40404066;
    padding: 8px;
    border-radius: 50px;
}